{% extends 'base.html' %}
{% block title %}
Ability Create Page
{% endblock %}
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Ability
            </h1>
            <br>
            name = db.Column(db.String(length=50), nullable=False, unique=True)
            stat_id = db.Column(db.Integer(), db.ForeignKey('stat.id'), nullable=False, default=1)
            level = db.Column(db.Integer(), nullable=True, default=0)
            description = db.Column(db.String(length=1024), nullable=False, unique=True, default='')
            bonus_t = db.Column(db.Integer(), nullable=True, default=0)
            bonus_k = db.Column(db.Integer(), nullable=True, default=0)
            bonus_sum = db.Column(db.Integer(), nullable=True, default=0)
            expertise = db.Column(db.Boolean(), nullable=True, default=False)
            {% set field_names = ['name', 'level','description', 'bonus_t','bonus_k','bonus_sum'] %}
            {% for field_name in field_names %}
                {{ form[field_name].label() }}
                {{ form[field_name](class="form-control", placeholder=field_name.capitalize()) }}
            {% endfor %}
            <!-- Hacer un dropdown de cada Stat y elegir, donde el valor que se devuelve en el form sea el ID del stat -->
            {{ form[stat_id].label() }}
            {{ form[stat_id](class="form-control", placeholder='Ingrese Stat') }}

            {{ form.expertise.label() }}
            {{ form.expertise(class="form-control", placeholder='Ingrese Stat') }}
            
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}
